
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-small-1-uTi {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10rem 8.4rem 7.6rem 7.7rem;
  position: relative;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 2.9rem;
  width: 100%;
  overflow: hidden;

  .auto-group-hdfr-sJ4 {
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    font-weight: 800;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    align-items: center;
    background-size: cover;
    margin: 0rem 1.8rem 7.7rem 1.9rem;
    height: 16.6rem;
    white-space: nowrap;
    background-image: url('REPLACE_IMAGE:1:4');
    width: calc(100% - 3.7rem);
    font-size: 1.2rem;
    color: #fff9f9;
  }
  .auto-group-nihj-F3i {
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-bottom: 2.8rem;
    padding: 1.1rem 3.1rem 1.9rem 3.1rem;
    font-size: 1.2rem;
    color: #f5f5f5;
    white-space: nowrap;
    background-color: #f30808;
    box-sizing: border-box;
    width: 100%;
  }
  .auto-group-t4fn-X1E {
    white-space: nowrap;
    background-color: #f30808;
    flex-shrink: 0;
    margin-bottom: 9.2rem;
    box-sizing: border-box;
    padding: 1.2rem 3.5rem 1.9rem 3.5rem;
    font-weight: 700;
    line-height: 1.2125;
    width: 100%;
    font-size: 1.2rem;
    color: #fff9f9;
    font-family: Inter, 'Source Sans Pro';
  }
  .image-1-QKv {
    flex-shrink: 0;
    margin-left: 16.3rem;
    width: 1rem;
    height: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:f2a53688a5c1d395c54bdf75f4f7adcc8538e29e');
  }
}
